# CommandManagerExtension config file
# See https://github.com/onebeastchris/MagicMenu/blob/master/setup.md for all placeholders
# https://github.com/onebeastchris/MagicMenu/blob/master/src/main/resources/config.yml for the default config

# config version - do not change this.
config-version: 1.0

# Should emotes be shown when used to open a menu?
show-emotes: true

# If this is set to true, closing a form will return to the previous form.
go-back: true

# Debug mode: This will spam the console.
debug: false

# Define your menus here. You can have as many as you want, but practically, not more than 4 - one for each emote.
menus:
  # Enter the emote uuid here. Or, all for all emotes (not recommended). Take the uuid from here:
  # https://github.com/JustTalDevelops/bedrock-emotes
  # You can also set it to "all", this would mean that the menu would open for all emotes. You cannot have multiple "all" menus.
  - emote-uuid: all
    # Enter the allowed users here. If you want to allow all users, remove "allowed-users" entirely
    # if someone isn't allowed to use this menu, they will just emote normally.
    allowed-users:
      - onebeastofchris
      - someotheraccount
    # Enter the title/description of the menu here; description is optional.
    forms:
      - form-title: "Example-form"
        form-description: "You can set a description here!"

        # Configure the buttons here.
        buttons:
          # name of the button. Here, we define a command, so clicking the button will run the command.
          - name: "Say something o.o"
            commands:
              - command-name: "Say something"
                run: "say !%input:Enter a message, test message% sent by %username%"
          # Similar as above - but with
          # 1. a placeholder in the name, and
          # 2. allowed users for the button! (xbox usernames, no prefix)
          # Here: "%username%" is replaced with the java username of the player
          - name: "Give %username% an apple!"
            allowed-users:
              - onebeastofchris
              - totallyavalidxboxusername
            commands:
              - command-name: "Give %username% an apple!"
                run: "give %username% apple 1"

          # You can also open a menu with more commands
          # buttons can have an image next to them
          - name: "ยง2 Hey %username%, check this out!"
            image-url:
            forms:
              - form-title: "Placeholders demo section"
                form-description: "This is a demo of some of the placeholders you can use!"
                buttons:
                  - name: "Position: %position%"
                    commands:
                      - command-name: "Position"
                        run: "say this is my position: %position%"
                  - name: "Username: %username%"
                    commands:
                      - command-name: "Username"
                        run: "say sent by %username%"
                  - name: "Dropdown & slider demo"
                    commands:
                      - command-name: "Dropdown & slider demo"
                        run: "say Dropdown: !%dropdown:Choose a dropdown, default, default, just, some, more, options%, slider: !%slider:Choose a slider, 0, 10, 1, 5%"
                  - name: "Step-slider and input demo"
                    commands:
                      - command-name: "Step-slider and input demo"
                        run: "say This is a step-slider value, !%step-slider:Choose a step slider, 0, 0, 10, 1, 2, 3, 4, 5% and an input !%input:Enter a xuid, %xuid%%"
                  - name: "Toggle demo"
                    commands:
                      - command-name: "Toggle demo"
                        run: "say This is a boolean: !%toggle:Choose a toggle, true%"

          - name: "Geyser Commands"
            image-url: "https://avatars.githubusercontent.com/u/52673035?s=200&v=4"
            forms:
              - form-title: "Geyser Commands"
                form-description: "This is a demo of some of the Geyser commands you can use!"
                buttons:
                  - name: "statistics"
                    commands:
                      - command-name: "geyser statistics"
                        run: "geyser statistics"
                  - name: "offhand"
                    commands:
                      - command-name: "geyser offhand"
                        run: "geyser offhand"
                  - name: "tooltips"
                    commands:
                      - command-name: "geyser tooltips"
                        run: "geyser tooltips"
                  - name: "advancements"
                    commands:
                      - command-name: "geyser advancements"
                        run: "geyser advancements"
                  - name: "dump"
                    commands:
                      - command-name: "geyser dump"
                        run: "geyser dump"
                        allowed-users:
                          - onebeastchris
                          - onebeastofchris
                          - someotheraccount

  # You can also run a command directly, without opening a menu.
  # note here: we set a specific emote uuid (from https://github.com/JustTalDevelops/bedrock-emotes), it will override the "all" menu.
  - emote-uuid: 6d9f24c0-6246-4c92-8169-4648d1981cbb
    commands:
      - command-name: "gamemode"
        run: "gamemode !%dropdown:Choose a gamemode, creative, creative, survival, adventure, spectator%"
        allowed-users:
            - onebeastofchris
            - someotheraccount

      # As the command above is only accessible to onebeastofchris and someotheraccount, the command above will only run for them.
      # The command below has no set allowed users, therefore, it will run for everyone else.
      # One button cannot run multiple commands.
      - command-name: "say"
        run: "say !%input:Enter a message, test message% %position% %username%"

